header {
    background-color: #3b3b3b;
    color:white;
    font-size: 2em;
    padding: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#currentView {
    width: 100%;
}

#currentView > div {
    float: left;
    max-width: 550px;
    min-width: calc(452px - 24px);
    width: 100%;
}